header.gornypasek{
background: #fff url("/Users/luizagawron/Desktop/yh.jpg") no-repeat center;
    background-size: contain;
}

.przycisk{
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

.btn{
    width: 45%;
    height: 42%;
    display:inline-block;
    background-color: #5bc0de;
    border-radius: 8px;
    margin: 2%;
    background-size: 48px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: inherit;
    font-size: 100%;
   line-height: 5px;
    
   
}
    
}

