header.gornypasek{
background: #fff url("/Users/luizagawron/Desktop/yh.jpg") no-repeat center;
    background-size: contain;
}
.navbar-form a {
    color: #000;
    text-decoration: none;
}

.navbar-form a:hover {
    color: #000;
}

.media-body{
    text-align: left;
    
}
.przycisk{
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

.content-padded{
    text-align: left;
}
.media-body{
    text-align: center;
}

.btn{
    width: 45%;
    height: 42%;
    display:inline-block;
    background-color: #5bc0de;
    border-radius: 8px;
    margin: 2%;
    background-size: 48px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: inherit;
    font-size: 100%;
   line-height: 200px; 
}


  <style>
* { box-sizing: border-box; }
body, figure { margin: 0; }
img { display: block; width: 100%; height: 180px; }

body {
	font-family: Avenir, Corbel, sans-serif;
	text-align: center;
    
}
h1 {
	font-family: 'UnifrakturCook', Avenir, Corbel, sans-serif;
	margin: 0.125em;
	font-size: 4em;
	margin: 0.5em;
	text-align: center;

}

figure {
	padding: 1px;
    font-size: 25px;
    
}

figcaption {
	display: block;
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: white;
	position: relative;
	top: -3em;
	text-shadow: 1px 1px 1px #000;
	
	padding: 0;
	font-size: 1.125em;
}

@media (min-width: 36em) {
	figure {
		display: block;
		float: left;
		width: 33.3333333333333%;
	}
}

</style>
 
}

